<main class="posts-page has-comments container">
  <section class="posts">
    <%= render @post%>
  </section>
</main>


<!--<p id="notice"><%#= notice %></p>

<p>
  <strong>Description:</strong>
  <%#= @post.description %>
</p>

<%#= link_to 'View', @post %> |
<%#= link_to 'Back', posts_path %>-->
